<select id="e9_select" style="width: 300px;">
<option value="SA"></option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
</select>
<select style="width: 300px;" multiple="multiple" id="e2_2">
<option></option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>

<option value="HI">Hawaii</option>
</select>
<script>
$(document).ready(function() { 
$("#e9_select").select2();
$("#e2_2").select2(); 

});
</script>
